@import "reset.css";

.loader-container {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	background: #eab535;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader, .loader:before, .loader:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}

.loader {
	color: #ffffff;
	text-indent: -9999em;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader:before, .loader:after {
	position: absolute;
	top: 0;
	content: "";
}

.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader:after {
	left: 1.5em;
}

a {
	outline: none;
}

@-webkit-keyframes load1 {
	0%, 80%, 100% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}

}

@keyframes load1 {
	0%, 80%, 100% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}

}

.landing-container {
	background: linear-gradient(to top, #eab535, #ecc25f 101%);
	height: 100vh;
	background-size: 60%;
	display: flex;
}

.poster-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 55%;
	overflow: hidden;
}

.poster-container .non-register-img {
	height: 100vh;
	width: 100%;
}

.registration-panel {
	background: #fef8cf;
	height: 100vh;
	width: 45%;
	padding: 0 40px;
}

header {
	padding-top: 40px;
}

.panel-body {
	margin-top: 30px;
}

.welcome-wrapper h6 {
	text-align: center;
	font-family: "gothammedium";
	font-size: 14px;
	line-height: 1.6;
	color: #272727;
}

.welcome-wrapper h1 {
	color: #272727;
	line-height: 1.6;
	text-align: center;
	font-family: "gothamlight";
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.welcome-wrapper p {
	color: #484848;
	font-size: 14px;
	font-family: "gothambook";
	margin-bottom: 20px;
	line-height: 1.4;
}

.live-event {
	border: 1px dashed #eab535;
	border-radius: 7px;
	padding: 10px;
	text-align: center;
	margin: 0 auto 20px;
	width: 300px;
}

.live-event p {
	font-size: 12px;
	margin-bottom: 0;
	line-height: 1.6;
	color: #484848;
}

.live-event h2 {
	line-height: 1.6;
	font-size: 20px;
	color: #484848;
}

.button-container {
	display: flex;
}

.button-container.btn-right {
	justify-content: flex-end;
}

.register-btn {
	outline: none;
	background: #d6861b;
	border-radius: 100px;
	display: inline-block;
	min-width: max-content;
	text-align: center;
	padding: 14px 32px;
	line-height: 1;
	font-size: 12px;
	color: #ffffff;
	font-family: "gothammedium";
	margin-right: 10px;
	box-shadow: 0 3px 6px 0 rgba(195, 143, 18, 0.6);
	transition: 0.2s all ease;
}

.register-btn:hover {
	opacity: 0.8;
	transition: 0.2s all ease;
}

.register-btn:last-child {
	margin-right: 0;
}

.register-btn.non-register {
	background: #494949;
	box-shadow: 0 3px 6px 0 rgba(195, 143, 18, 0.6);
}

.register-btn.outline-btn {
	background: none;
	box-shadow: 0 1px 4px 0 rgba(195, 143, 18, 0.14);
	border: solid 1px #d6861b;
	color: #d6861b;
}

.form-container {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

.form-container .form-headeing h2 {
	font-size: 16px;
	font-family: "gothamlight";
	color: #272727;
	line-height: 1.6;
	margin-bottom: 20px;
	text-align: center;
}

.form-container .form-headeing h2 span {
	font-family: "gothammedium";
}

.form-list .form-item {
	margin-bottom: 14px;
}

.form-list .form-item.multiple-item {
	display: flex;
}

.form-list .form-item.multiple-item .form-col {
	margin-right: 20px;
	flex: 1;
}

.form-list .form-item.multiple-item .form-col:last-child {
	margin-right: 0;
}

.form-list .form-item h6 {
	line-height: 1.2;
	display: block;
	font-family: "gothamthin";
	font-size: 11px;
	color: #272727;
	margin-bottom: 6px;
}

.form-list .form-item ul {
	display: flex;
}

.form-list .form-item ul li {
	margin-right: 40px;
}

.form-list .form-item ul li:last-child {
	margin-right: 0;
}

.form-list .form-item label {
	cursor: pointer;
	font-size: 12px;
	font-family: "gothambook";
}

.form-list .form-item input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.form-list .form-item input[type="radio"] + .radio-label:before {
	content: "";
	background: transparent;
	border-radius: 100%;
	border: 2px solid #d6861b;
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 0;
	margin-right: 8px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.form-list .form-item input[type="radio"]:checked + .radio-label:before {
	background-color: #d6861b;
	box-shadow: inset 0 0 0 3px #fef8cf;
}

.form-list .form-item input[type="radio"]:focus + .radio-label:before {
	outline: none;
}

.form-list .form-item input[type="radio"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.form-list .form-item input[type="radio"] + .radio-label:empty:before {
	margin-right: 0;
}

.form-list .form-item .form-control input {
	width: 100%;
	border: 0;
	padding: 0 15px;
	line-height: 1.2;
	height: 36px;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(195, 143, 18, 0.14);
	background: #ffffff;
	color: #272727;
	outline: none;
	font-family: "gothamlight";
	font-size: 12px;
	border: 1px solid transparent;
	transition: 0.4s all ease;
}

.form-list .form-item .form-control textarea {
	width: 100%;
	border: 0;
	padding: 0 15px;
	line-height: 1.2;
	height: 60px;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgba(195, 143, 18, 0.14);
	background: #ffffff;
	color: #272727;
	outline: none;
	resize: none;
	padding-top: 10px;
	font-family: "gothambook";
	font-size: 12px;
	border: 1px solid transparent;
}

.form-list .form-item .form-control input:focus, .form-list .form-item .form-control textarea:focus {
	border: 1px solid #eab535;
	transition: 0.4s all ease;
}

.form-list .form-item .form-control input::placeholder, .form-list .form-item .form-control textarea::placeholder {
	opacity: 0.8;
}

.file-upload-wrapper {
	position: relative;
	width: 100%;
	height: 36px;
	cursor: pointer;
}

.file-upload-wrapper:after {
	font-family: "gothambook";
	content: attr(data-text);
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 15px;
	display: block;
	width: calc(100% - 120px);
	pointer-events: none;
	z-index: 20;
	height: 40px;
	line-height: 40px;
	color: #999;
	border-radius: 5px 10px 10px 5px;
	font-weight: 300;
	font-style: italic;
}

.file-upload-wrapper:before {
	cursor: pointer;
	content: "+ Choose File";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 36px;
	color: #272727;
	font-weight: 700;
	z-index: 25;
	font-size: 12px;
	padding: 0 15px;
	pointer-events: none;
	border-radius: 23.5px;
	box-shadow: 0 1px 4px 0 rgba(195, 143, 18, 0.14);
	border: solid 1px #272727;
	line-height: 36px;
}

.file-upload-wrapper input {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}

.checkbox-list ul {
	flex-wrap: wrap;
}

.form-list .form-item .checkbox-list ul li {
	width: 50%;
	margin-right: 0;
	margin-bottom: 10px;
	position: relative;
}

.checkbox-list input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: auto;
	height: max-content !important;
}

.checkbox-list input[type="checkbox"] + .radio-label:before {
	content: "";
	background: transparent;
	border-radius: 100%;
	border: 2px solid #d6861b;
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 0;
	margin-right: 8px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.checkbox-list input[type="checkbox"]:checked + .radio-label:before {
	background-color: #d6861b;
	box-shadow: inset 0 0 0 3px #fef8cf;
}

.checkbox-list input[type="checkbox"]:focus + .radio-label:before {
	outline: none;
}

.checkbox-list input[type="checkbox"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.checkbox-list {
	margin-top: 20px;
}

.thankyou-contianer {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

.thankyou-contianer .thank-you-wrapper {
	text-align: center;
}

.thankyou-contianer .thank-you-wrapper img {
	display: inline-block;
	animation: trayMove 1s;
	-webkit-animation: trayMove 1s;
}

.thankyou-contianer .thank-you-wrapper h4 {
	margin-top: 0px;
	margin-bottom: 30px;
}

.thankyou-contianer .thank-you-wrapper h6 {
	color: #ffffff;
	font-family: "gothamthin";
	max-width: 90%;
	margin: 60px auto 20px;
	line-height: 1.6;
}

.thankyou-contianer .thank-you-wrapper p {
	color: #484848;
	font-size: 14px;
	font-family: "gothambook";
	line-height: 1.4;
	max-width: 80%;
	margin: 0 auto 20px;
}

.thankyou-contianer .thank-you-wrapper .live-event p {
	margin-bottom: 0px;
}

.thankyou-contianer .thank-you-wrapper .button-container {
	justify-content: center;
}

.registration-panel.non-registration-panel {
	background: #494949;
}

.non-registration-panel .form-list .form-item h6 {
	color: #ffffff;
}

.non-registration-panel .form-container .form-headeing h2 {
	color: #ffffff;
}

.non-registration-panel .form-list .form-item label {
	color: #ffffff;
}

.non-registration-panel .register-btn {
	box-shadow: none;
}

.non-registration-panel .register-btn.outline-btn {
	color: #ffffff;
}

.non-registration-panel .form-list .form-item input[type="radio"]:checked + .radio-label:before {
	box-shadow: inset 0 0 0 3px #494949;
}

.non-registration-panel .thankyou-contianer .thank-you-wrapper h4 {
	color: #ffffff;
}

.non-registration-panel .thankyou-contianer .thank-you-wrapper p {
	color: #ffffff;
}

.non-registration-panel .live-event h2 {
	color: #ffffff;
}

.non-registration-panel .live-event p {
	margin-bottom: 0;
}

.non-registration-panel {
	display: flex;
	align-items: center;
}

.non-registration-panel .panel-body {
	width: 100%;
	margin-top: 0;
}

@-webkit-keyframes trayMove {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}

}

@keyframes trayMove {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}

}

@media screen and (max-width:960px) {
	.landing-container {
		flex-wrap: wrap;
		height: auto;
	}

	.poster-container {
		width: 100%;
		height: auto;
		order: -1;
		position: relative;
		z-index: 1;
		margin-top: 40px;
	}

	.registration-panel {
		width: 100%;
		height: auto;
		width: 94%;
		margin: 0 auto;
		position: relative;
		top: -20px;
		padding: 0 20px;
	}

	.button-container {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 40px;
	}

	.button-container a {
		margin-bottom: 10px;
	}

	header {
		position: absolute;
		top: -33%;
		left: 10px;
	}

	.live-event {
		width: 100%;
	}

	.form-container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.non-registration-panel .panel-body {
		margin-top: 30px;
	}

	.non-register-mobile .poster-container {
		display: none;
	}

	.non-register-mobile {
		background: #323232;
		min-height: 100vh;
		align-items: center;
	}

	.non-register-mobile .registration-panel {
		top: auto;
		height: max-content;
		border-radius: 10px;
	}

	.form-list .form-item {
		margin-bottom: 20px;
	}

	.form-list .form-item h6 {
		margin-bottom: 14px;
	}

	.thankyou-contianer {
		padding-left: 0;
		padding-right: 0;
	}

	.form-list .form-item .checkbox-list ul li {
		width: 100%;
		margin-bottom: 20px;
	}

}

@media screen and (min-width:768px) and (max-width:960px) {
	.live-event {
		width: 300px;
	}

	.form-list .form-item .checkbox-list ul li {
		width: 50%;
	}

	.checkbox-list {
		width: 60%;
	}

}
